# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info
.eggs
.dist
build/
dist/

# Git
.git
.gitignore

# Virtualenvs
.venv
venv/
.env

# IDEs
.vscode
.idea

# Local data and caches
*.log
.DS_Store
.cache
.wandb
outputs/
checkpoints/
cache/

# Notebooks & artifacts
*.ipynb_checkpoints
**/.ipynb_checkpoints
notebooks/**

# Modal volumes (if any local mounts)
modal/.local 